<?xml version="1.0"?>

	<!-- Place this section in your Web.Config
	<configSections>
		<section name="switchingLinkProvider" type="Constellation.Sitecore.Links.SwitchingLinkProviderConfiguration, Constellation.Sitecore.Linking"/>
	</configSections>

	<switchingLinkProvider configSource="App_Config\Constellation.SwitchingLinkProvider.config" />
	end Web Config section -->
	
<switchingLinkProvider defaultLinkProviderName="SharedContentLinkProvider">
	<add site="shell" providerName="sitecore" />
	<add site="login" providerName="sitecore" />
	<add site="admin" providerName="sitecore" />
	<add site="service" providerName="sitecore" />
	<add site="modules_shell" providerName="sitecore" />
	<add site="modules_website" providerName="sitecore" />
	<add site="scheduler" providerName="sitecore" />
	<add site="system" providerName="sitecore" />
	<add site="publisher" providerName="sitecore" />
</switchingLinkProvider>

