<?xml version="1.0"?>

	<!-- Place this section in your Web.Config
	<configSections>
		<section name="switchingLinkProvider" type="Constellation.Sitecore.Links.SwitchingLinkProviderConfiguration, Constellation.Sitecore.Linking"/>
	</configSections>

	<switchingLinkProvider configSource="App_Config\Constellation.SwitchingLinkProvider.config" />
	end Web Config section -->
	
<switchingLinkProvider defaultLinkProviderType="Constellation.Sitecore.Links.SharedContentLinkProvider, Constellation.Sitecore.Linking">
	<add site="shell" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="login" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="admin" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="service" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="modules_shell" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="modules_website" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="scheduler" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="system" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
	<add site="publisher" providerType="Sitecore.Links.LinkProvider, Sitecore.Kernel"/>
</switchingLinkProvider>

