<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<!-- Options (first is default):
		   addAspxExtension: true | false (If you set this to false, remember to configure IIS to map all requests (*) to ASP.NET)
		   alwaysIncludeServerUrl: false | true
		   encodeNames: true | false
		   languageEmbedding: asNeeded | always | never
		   languageLocation: filePath | queryString
		   lowercaseUrls: true | false
		   shortenUrls: true | false
		   useDisplayName: false | true
		-->
		<linkManager defaultProvider="SwitchingLinkProvider">
			<providers>
				<add name="SwitchingLinkProvider" type="Constellation.Sitecore.Links.SwitchingLinkProvider, Constellation.Sitecore.Linking"	addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" siteResolving="true" />
				<add name="SharedContentLinkProvider" type="Constellation.Sitecore.Links.SharedContentLinkProvider, Constellation.Sitecore.Linking"	addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" siteResolving="true" />
			</providers>
		</linkManager>
	</sitecore>
</configuration>
